/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* styles start here*/
html {
    background-color: white;
}

/* fonts */
@font-face {
    font-family: 'reanSans';
    src: url('/Fonts/REANIMATION Sans Serif.woff2') format('woff2'),
         url('/Fonts/REANIMATION Sans Serif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'reanBlock';
    src: url('/Fonts/reanimation_blackletter-webfont.woff2') format('woff2'),
         url('/Fonts/reanimation_blackletter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* root styles */
:root {
    --orange: #E75A30;
    --light-gray: #F5f5f5;
    --black: #2C2C2C;
    --sans: 'reanSans', sans-serif;
    --wix: 'Wix Madefor Text', sans-serif;
    --blkletter: 'reanBlock', serif;
}

/* skip link styles */
#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus {
    position: static;
    width: 250px;
    height: auto;
    background-color: var(--black);
    color: var(--light-gray);
    padding: 20px 20px 20px 20px;
    outline: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/*body styles*/
body {
    background-color: var(--light-gray);
    color: var(--black);
    width: 1280px;
    margin: 0 auto;
    font-family: var(--wix);
    font-size: 18px;
    height: 100%;
}

body.dark-mode {
    background-color: var(--black);
    color: var(--light-gray);
}

/* header styles */
/* hidden but accessible nav heading */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

/* left section styles */
#leftSide {
    display: flex;
    align-items: center;
}

#leftSide h1 {
    order: 2;
    margin: 0;
}

#leftSide h1::after {
    content: "|";
    margin: 0 20px;
}

#leftSide p {
    order: 3;
    margin: 0;
}

#leftSide img {
    order: 1;
    width: 30px;
    height: auto;
    padding-right: 15px;
}

#rightSide {
    display: flex;
    align-items: center;
    gap: 20px;
}


/* nav styles */
#darkmode {
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
    padding: 0 10px;
}


/*first fold styles*/
#firstFold {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 160px 40px 250px 40px;
}


/* ready section tyles */
#ready {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0;
}

.wrapper1 {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    gap: 20px;
}

.wrapper1 span {
    font-family: var(--blkletter);
    color: var(--orange);
    text-transform: none;
}

.smallButton {
    width: 150px;
    height: 40px;
    border-radius: 0;
    background-color: var(--black);
    color: var(--light-gray);
    font-family: var(--sans);
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .02rem;
    border-style: none;
}

.smallButton:hover {
    background-color: var(--orange);
    color: var(--light-gray);
}

body.dark-mode .smallButton {
    background-color: var(--light-gray);
    color: var(--black);
}

body.dark-mode .smallButton:hover {
    background-color: var(--orange);
    color: var(--light-gray);
}


.buttonWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
    justify-content: center;
}

.video {
    display: flex;
    max-width: 743px;
    height: auto;
    padding: 20px 30px 0 40px;
}


/* prints section styles */
#prints {
    width: 1280px;
    /*margin: 0 auto;*/
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: end;
    flex-wrap: wrap;
}

.leftSide p {
    margin-left: 10px;
}

.leftSide {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 17.66rem;
}

.printTitleBtn {
    font-size: 3.5rem;
    line-height: 1.3;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--black);
    text-align: left;
    text-transform: uppercase;
    font-family: var(--sans);
}

.printTitleBtn:hover {
    color: var(--orange);
}

body.dark-mode .printTitleBtn {
    color: var(--light-gray);
}

body.dark-mode .printTitleBtn:hover {
    color: var(--orange);
}

.info {
    margin-top: 4rem;
}

.rightSide {
    flex-grow: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 40px;
}


#prints img {
    max-width: 600px;
    height: auto;
    padding-right: 2rem;
    filter: drop-shadow(-18px 10px 20px rgba(0, 0, 0, 0.4));
}


/* game sections styling */
#game,
#gameInfo {
    display: inline-block;
    vertical-align: top;
    padding-top: 50px;
    padding-bottom: 50px;
}

#game {
    text-align: left;
    width: 35%;
    margin-left: 40px;
}

#game form {
    display: flex;
    gap: 0.5em;
    padding-top: 30px;
}

#game input {
    width: 40px;
    height: 40px;
    border-radius: 0;
    border-color: var(--black);
    border-style: solid;
    border-width: 1px;
}

#game button {
    border-radius: 0;
    background-color: var(--black);
    color: var(--light-gray);
    font-family: var(--sans);
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .02rem;
    width: 310px;
    border-style: none;
}

#game button:hover {
    background-color: var(--orange);
}


body.dark-mode #game button {
    background-color: var(--orange);
    color: var(--light-gray);
}

body.dark-mode #game button:hover {
    background-color: var(--light-gray);
    color: var(--black);
}

#game-result {
    display: block;
    margin-right: 15px;
}


#game-form .error {
    color: red;
    font-family: var(--wix);
    font-size: 0.9em;
    margin-top: 10px;
    display: block;
    clear: both;
}

#game #game-result {
    margin-top: 1em;
}

body.dark-mode #game-result {
    color: var(--light-gray);
}

#gameInfo {
    text-align: right;
    margin-left: auto;
    margin-right: 40px;
}

#gameInfo figure {
    display: inline-block;
    margin-top: 40px;
    filter: drop-shadow(-10px 4px 7px rgba(0, 0, 0, 0.2));
    padding-left: 40px;
}


/* contact and form styling */
#contactWrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 40px;
}

#contact {
    width: 45%;
    padding-right: 40px;
    text-align: left;
}

#letsTalk {
    width: 575px;
    padding-right: 40px;
    padding-bottom: 100px;
}

/* contact form styles */
#contactForm label {
    display: block;
    margin-bottom: 10px;
    font-family: var(--sans);
    letter-spacing: .02rem;
    margin-top: 30px
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm input[type="tel"],
#contactForm textarea {
    width: 565px;
    height: 40px;
    border-radius: 0;
    border-color: var(--black);
    border-style: solid;
    border-width: 1px;
}

fieldset {
    border: 1px solid var(--black);
    margin-top: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

body.dark-mode fieldset {
    border: 1px solid var(--light-gray);
}

legend {
    font-family: var(--sans);
    padding: 0 10px;
    letter-spacing: .02rem;
}

#contactForm input[type="radio"] {
    margin-right: 5px;
}

fieldset label {
    display: inline-block;
    margin-right: 15px;
    font-family: var(--sans);
}


fieldset input[type="radio"]:checked + label {
    font-weight: bold; 
}


#contactForm div:nth-child(3) label {
    display: inline;
    font-weight: normal;
    margin-right: 15px;
}

#contactForm button {
    width: 575px;
    height: 50px;
    border-radius: 0;
    background-color: var(--black);
    color: var(--light-gray);
    font-family: var(--sans);
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .02rem;
    border-style: none;
    margin-top: 30px;
}

#contactForm button:hover {
    background-color: var(--orange);
}

body.dark-mode #contactForm button {
    background-color: var(--orange);
    color: var(--light-gray);
}

body.dark-mode #contactForm button:hover {
    background-color: var(--light-gray);
    color: var(--black);
}


#contactForm .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#contactForm button .show {
    color: var(--light-gray);
}

#success {
    margin-top: 20px;
    padding: 10px;
}

#contactForm button:hover {
    background-color: var(--orange);
}

#contactForm span {
    color: var(--orange);
}

/* footer styles */
footer {
    height: 15rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    background-color: var(--black);
    color: var(--light-gray);
    padding: 20px 40px 10px 40px;
    position: relative;
    justify-items: end;
}

footer img {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    width: 600px;
    height: auto;
    justify-self: start;
}

.contactInfo {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    max-width: 300px;
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.socialIcons {
    display: flex;
    gap: 20px;
    margin-top: auto;
    justify-content: flex-end;
}


footer p {
    grid-column: 1 / span 2;
    grid-row: 2;
    text-align: right;
    width: 100%;
}

.copy {
    align-self: end;
    text-align: center;
    font-size: 14px;
}


/* dark mode styles */
body.dark {
    background-color: var(--black);
    color: var(--light-gray);
}

body.dark .printTitleBtn {
    background-color: var(--light-gray);
    color: var(--black);
}




/* font styles */

/* header styles */
header h1,
header p {
    font-family: var(--sans), serif;
    text-transform: uppercase;
    letter-spacing: .02rem;
}

.navLink {
    font-family: var(--sans), serif;
    color: var(--black);
    text-decoration: none;
    letter-spacing: .02rem;
    text-transform: uppercase;
}

.navLink:hover {
    color: var(--orange);
}

body.dark-mode .navLink {
    color: var(--light-gray);
}

body.dark-mode .navLink:hover {
    color: var(--orange);
}

/*first fold styles*/
#firstFold h2 {
    font-family: var(--sans), serif;
    text-transform: uppercase;
    font-size: 8.75rem;
    align-self: center;
    margin: 0;
}

#firstFold h2 span {
    color: var(--orange);
    font-family: var(--blkletter);
}

#firstFold p {
    max-width: 650px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;
    padding-top: 1rem;
    text-transform: none;
    font-family: var(--wix);
    line-height: 1.2;
}

/* ready styles */
#ready h2 {
    font-family: var(--sans);
    font-size: 5rem;
    text-align: center;
    line-height: 0.9;
}

/* print styles */
#prints h2 span {
    font-family: var(--blkletter);
    color: var(--orange);
    text-transform: none;
}

#prints h2 {
    text-align: left;
    margin: 0 auto;
    width: 100%;
    font-family: var(--sans);
    font-size: 6.66rem;
}

.description {
    font-size: 18px;
    line-height: 1.2;
}

.leftSide strong {
    font-family: var(--sans);
    text-transform: uppercase;
    letter-spacing: .02rem;
}

/*g ame styles */
#game h2,
#gameInfo h2 {
    font-family: var(--sans);
    font-size: 5.4rem;
    line-height: 1;
    line-height: 0;
    padding-top: 40px;
}

#game h2 {
    margin-bottom: 60px;
}

#gameInfo h2 {
    margin-bottom: 80px;
}

#game span {
    font-family: var(--blkletter);
    text-transform: none;
}

#gameInfo span {
    color: var(--orange)
}

#game p {
    font-family: var(--sans);
    font-size: 30px;
    line-height: 1;
}

#game #guess-output {
    font-family: var(--wix);
    font-size: 18px;
    padding: 10px 0;
}

#gameInfo p {
    font-size: 18px;
    line-height: 1.2;
}

/* contact styles */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact h2,
#contact p {
    margin-left: 40px;
}

#contact h2 {
    font-family: var(--sans);
    font-size: 6.35rem;
    line-height: 0.9;
}

#contact p {
    font-family: var(--sans);
    font-size: 60px;
    text-transform: uppercase;
    color: var(--orange);
    padding-bottom: 89px;
}

#contact p span {
    display: block;
    font-family: var(--blkletter);
    text-transform: none;
    padding-top: 5px;
}

/* form styles */
#letsTalk h2 {
    font-family: var(--sans);
    font-size: 30px;
    padding-top: 13px;
}

#success h4 {
    font-family: var(--sans);
}

#formSub {
    padding-top: 20px;
}

h2 {
    text-transform: uppercase;
}
/* footer styles */
footer h3 {
    font-family: var(--sans);
    text-transform: uppercase;
    letter-spacing: .02rem;
    padding-bottom: 15px;
    font-size: 30px;
}

footer p {
    line-height: 1.2;
}